<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>
Hi <%=@user.name%>, 
</p>
<p>
I am Mrutyunjay, co founder of SHOPICK. I sincerely thank you to have downloaded the app. It means a lot to us. 
<br>
<p style="color:#0000FF;">
Feedback? 
</p>
We would be very grateful if you could please fill in our feedback form so that we could revive the app as per your needs. <a href="http://bit.ly/2039KHU">Click here for the feedback.</a>
<br>
<p style="color:#0000FF;">
Meetup? Coffee? Tea?
</p>
This month, we are organizing a Coffee Session with our initial users like you at Costa in SDA Market, Hauz Khas. We promise you'll have fun! 
<br>

<p style="color:#0000FF;">
What are we trying to do? 
</p>
We a re trying to get technology to Brick & Mortar shopping to make it more easy & interactive. 
<br>
Hence we started with displaying all the offers running at stores in Delhi NCR. This feature would help you choose where to shop! Apart from this you can  upload the products that you like or have bought so that other users can discover the collection.
<br>
Our operations team is constantly running around different malls & markets to provide you with the inventory available at their stores.
<br>
<p style="color:#0000FF;">
Help us grow?
</p>
We'd love if you could post couple of words about our app, either on <a href="http://on.fb.me/1PezmcQ">Facebook</a> or <a href="http://bit.ly/1RoIqlN">Twitter</a>
<br>
<br>
<br>
<br>
Regards,
<br>
Mrutyunjay Hiremath
<br>
Co Founder
<br>
SHOPICK
<br>
<a href="http://bit.ly/1PezEjT">Download the APP Now! </a>

  </body>
</html>