<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>
Hi , 
</p>
<p>
Some one new registered with shopick:
<br>
<p style="color:#0000FF;">
Name: 
</p>
<%=@usernew.name%>
<br>
<p style="color:#0000FF;">
Email: 
</p>
<%=@usernew.email%>
<br>

<br>
<br>
<br>
<br>
Regards,
<br>
Shopick Mailer
<br>
#FindAnything
<br>
SHOPICK - Keep Findings
<br>
  </body>
</html>