<div md-whiteframe="1" ng-controller="LikedCollectionCtrl" >
    <md-content >
          <md-card class="full-width"  ng-click=openPost(post.globalID)>
              <md-card-title>
                <md-card-title-media>
                  <md-card-avatar>
                     <img class="user_avatar" src={{post.user_image}}></img>
                  </md-card-avatar>
                </md-card-title-media>
                <md-card-title-text>
                  <span class="md-headline"> &nbsp;&nbsp; {{post.username}} liked  {{post.categoryname}} at {{post.storename}}</span>
                  <span class="md-subhead"> &nbsp;&nbsp; {{post.description}}</span>
                  
                </md-card-title-text>
              </md-card-title>
              <div class="wraptocenter">
              <span></span>
                <img class="collection_image" src={{post.image_url}} border="1"/>
              </div>
            </md-card>
    </md-content>
</div>
